body {
    background-image: url("chessbg.png");
    background-repeat: repeat;
    margin-top: 50px;
    margin-bottom: 75px;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

h1,h2 {
    color: #ffff0077;
    text-align: center;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    font-weight: bold;
}
p {
    color: #fff;
    text-align: center;
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
iframe {
    display: block;
    margin: auto;
}

small {
    color: white;
}
footer {
    height: 50px;
    background-color: #3c2442;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(105, 42, 42);
    border-style: dashed;
    border-width: 0;
    border-top-width: 3px;
    min-height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
/* classes */


/* ids */
#content {
    border-radius: 25px;
    background-color: #694074dd;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 0 5vw;
    padding: 2em;
}
#LinkList {
    display: flex;
    margin: 30px;
    background-color: #ffffff;
}
#LinkList > a {
    flex: 1
}

/* Desktop detection */
@media screen and (min-width: 1024px) {
    #content { margin: 0 20vw;}
}
@media screen and (max-width: 700px) {
    #content { 
        margin: 0 0px;
        padding: auto;
        border-radius: 5px;
    }
}