body {
    background-image: url("chessbg.png");
    background-repeat: repeat;
    margin-top: 50px;
    margin-left: 20vw;
    margin-right: 20vw;
    background-attachment: fixed;
    background-position: center;
}
h1,h2 {
    color: yellow;
    text-align: center;
}
p {
    color: aliceblue;
    text-align: center;
}
iframe {
    display: block;
    margin: auto;
}
div {
    border-radius: 25px;
    background-color: #694074;
    align-content: center;
    text-align: center;
    align-items: center;

}
small {
    color: white;
}
footer {
    height: 50px;
    background-color: #3c2442;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* classes */

/* ids */
#LinkList {
    display: flex;
    margin: 30px;
    background-color: #ffffff;
}
#LinkList > a {
    flex: 1
}